body{background:#f5fff5;font-family:Arial;}
header{background:#ffffff;color:white;}
nav{background:#eedd82;}
nav a{color:#006400;font-size:16px;font-family:Verdana;}
h1{font-size:26px;color:#006400;font-family:Georgia;}
h2{font-size:20px;color:#228b22;font-family:Tahoma;}
ul{font-size:15px;font-family:Arial;color:#000;}
li{font-size:14px;color:#333;}
img{width:140px;height:auto;}
footer{background:#006400;color:white;font-family:Verdana;}
footer li{font-size:13px;color:#ddd;}
footer h2{font-size:18px;color:#ffff99;}
nav a{color:#ff0000;}
main{font-size:15px;font-family:Tahoma;color:#000;}
p{font-size:14px;color:#222;font-family:Arial;}