body{background:#fff8f0;font-family:Verdana;}
header{background:#8b0000;color:white;}
nav{background:#222;}
nav a{color:#ffcc00;font-size:16px;font-family:Arial;}
h1{font-size:26px;color:#ffffff;font-family:Georgia;}
h2{font-size:20px;color:#8b0000;font-family:Tahoma;}
p{font-size:14px;font-family:Arial;color:#333;}
ul{font-family:Courier New;font-size:15px;color:#000;}
li{font-size:15px;color:#444;}
img{width:130px;height:auto;}
footer{background:#222;color:white;font-family:Verdana;}
footer li{font-size:14px;color:#ddd;}
footer h2{font-size:18px;color:#ffcc00;}
nav a:hover{color:#ffffff;}
main{font-family:Arial;font-size:15px;color:#000;}